body {
    margin: 2rem;
}

header {
    color: darkblue;
}

p {
    font-size: x-large;
}

table, th, td {
    border: 1px solid black;
    min-height: 20rem;
    padding: 1rem;
}

thead th {
    background-color: lightgrey;
}

tbody td {
    background-color: rgba(187, 238, 187, 0.986);
}

.occupiedSpot {
    background-color: rgb(243, 212, 182);
}
